nodered.json
[{"id":"bf837ba2.4d8f38","type":"http in","z":"7b39f6e6.1300b8","name":"","url":"/chat/web","method":"post","swaggerDoc":"","x":238.0000228881836,"y":331.99999237060547,"wires":[["39e6af89.55716"]]},{"id":"c7c9a3fd.0bcf4","type":"http response","z":"7b39f6e6.1300b8","name":"","x":1555,"y":326,"wires":[]},{"id":"3cbb2e75.f8d5a2","type":"function","z":"7b39f6e6.1300b8","name":"","func":"var mensagem = JSON.parse(msg.payload);\nmsg.payload = mensagem.msg;\n//msg.payload = msg.payload.msg;\n\nmsg.context = {\n        conversation_id: mensagem.recipientid\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":524.0000228881836,"y":409.99999237060547,"wires":[["8d83a35.30bbd6"]]},{"id":"8d83a35.30bbd6","type":"watson-conversation-v1","z":"7b39f6e6.1300b8","name":"Conversation-6b","workspaceid":"5a1ff090-c3cf-4584-baa3-767807d22342","multiuser":false,"context":true,"x":689.0000228881836,"y":409.99999237060547,"wires":[["bf6134b3.953b18"]]},{"id":"e9d93bc6.411c38","type":"function","z":"7b39f6e6.1300b8","name":"","func":"var token = \"EAAJ6w6Wvey4BAHXYZC7Ek2NZApK1KnMvXMVIPmRPOH2ZA8UtK0TxaS588aIU5kIkuVRXBir3R3tqq398WqCtbtBbQjFqlwtTb0Ycmk9OO6WhTpQBmR9r6OxNxW4mQfUSHW3GhhAWku1tg2t95m1Nj1jQ3ndc82HJPOiQkz1aQZDZD\";\nvar verifica = \"dollynho\";\nmsg.payload = msg.payload[\"hub.challenge\"];\nreturn msg;","outputs":1,"noerr":0,"x":795.0000534057617,"y":544.9999923706055,"wires":[["d2952a4e.807d98"]]},{"id":"5ca28651.3f6f98","type":"http in","z":"7b39f6e6.1300b8","name":"","url":"/chat/fb","method":"get","swaggerDoc":"","x":635.0000534057617,"y":541.9999923706055,"wires":[["e9d93bc6.411c38","aa7293e1.f0514"]]},{"id":"d2952a4e.807d98","type":"http response","z":"7b39f6e6.1300b8","name":"","x":939.0000534057617,"y":546.9999923706055,"wires":[]},{"id":"aa7293e1.f0514","type":"debug","z":"7b39f6e6.1300b8","name":"","active":false,"console":"false","complete":"false","x":830.0000534057617,"y":482.99999237060547,"wires":[]},{"id":"b99d71bc.f55ce","type":"http in","z":"7b39f6e6.1300b8","name":"","url":"/chat/fb","method":"post","swaggerDoc":"","x":277,"y":101,"wires":[["27e1fddf.ca10d2","97850e51.9c8f1","45203c10.015314"]]},{"id":"94aea2ce.67143","type":"http response","z":"7b39f6e6.1300b8","name":"","x":294.99998474121094,"y":207,"wires":[]},{"id":"de92a23.001d66","type":"debug","z":"7b39f6e6.1300b8","name":"","active":false,"console":"false","complete":"payload","x":856,"y":27,"wires":[]},{"id":"db7e6e4d.95c1b","type":"http in","z":"7b39f6e6.1300b8","name":"","url":"/politica","method":"get","swaggerDoc":"","x":600.0000534057617,"y":672.9999923706055,"wires":[["139b72b0.d4522d"]]},{"id":"139b72b0.d4522d","type":"http response","z":"7b39f6e6.1300b8","name":"","x":772.0000534057617,"y":674.9999923706055,"wires":[]},{"id":"27e1fddf.ca10d2","type":"function","z":"7b39f6e6.1300b8","name":"","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":308.99998474121094,"y":149,"wires":[["94aea2ce.67143"]]},{"id":"ec64bf4.bfe204","type":"http request","z":"7b39f6e6.1300b8","name":"","method":"POST","ret":"txt","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAJ6w6Wvey4BAONvYn4DB82tpPLzW8IgJhoJY2EJLZBIEgA5Rh9OLD4BVnojnwcbvbmysVZBnsBIuU6ZBCuEc0FKrSPXTiWJpU09QCdBwmrfVxTqbpYMHvemSAOaqwbzC8Vcfe9xwkRIkJ7Wwb43tUzkAZCLsCe4ZA6liSP8YHwZDZD","tls":"","x":1748,"y":125,"wires":[["355d13a4.3ff2ac"]]},{"id":"355d13a4.3ff2ac","type":"debug","z":"7b39f6e6.1300b8","name":"","active":false,"console":"false","complete":"false","x":1811,"y":51,"wires":[]},{"id":"45203c10.015314","type":"function","z":"7b39f6e6.1300b8","name":"","func":"var bkp = msg.payload.entry;\nvar events = msg.payload.entry[0].messaging;\nfor (i = 0; i < events.length; i++) {\n    var event = events[i];\n    if (event.message && event.message.text) {\n        msg.recipientid = event.sender.id;\n        msg.payload = event.message.text;\n    }\n    else if (event.postback && event.postback.payload) {\n        msg.recipientid = event.sender.id;\n        msg.payload = event.postback.payload;\n    }\n}\n\nreturn [msg, bkp];","outputs":1,"noerr":0,"x":457,"y":102,"wires":[["2d09595c.ac3496"]]},{"id":"af8246ba.46e4f8","type":"function","z":"7b39f6e6.1300b8","name":"","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\");\nreturn msg;","outputs":1,"noerr":0,"x":1412,"y":339,"wires":[["c7c9a3fd.0bcf4"]]},{"id":"b19bfba7.c4e648","type":"debug","z":"7b39f6e6.1300b8","name":"","active":true,"console":"false","complete":"payload","x":1489,"y":495,"wires":[]},{"id":"39e6af89.55716","type":"json","z":"7b39f6e6.1300b8","name":"","x":398.0000228881836,"y":331.99999237060547,"wires":[["3cbb2e75.f8d5a2"]]},{"id":"9d14efef.c3544","type":"function","z":"7b39f6e6.1300b8","name":"conversation_id","func":"msg.context = {\n        conversation_id: msg.recipientid\n    }\nreturn msg;","outputs":1,"noerr":0,"x":693.826416015625,"y":103.10069274902344,"wires":[["b3e2e107.73cf8","de92a23.001d66"]]},{"id":"d3ecbaa4.f51398","type":"function","z":"7b39f6e6.1300b8","name":"","func":"if (msg.payload.output.text[0] == \"post_back\") {\n    \n    msg.post_back = new Array(msg.payload.output.text[2], msg.payload.output.text[3]);\n    msg.payload = msg.payload.output.text[1];\n        \n}\nelse {\n\n    msg.payload = msg.payload.output.text[0];\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1454.4931640625,"y":80.33334350585938,"wires":[["bff753c3.72b6e","7265d3aa.14892c"]]},{"id":"b3e2e107.73cf8","type":"watson-conversation-v1","z":"7b39f6e6.1300b8","name":"Conversation-6b","workspaceid":"5a1ff090-c3cf-4584-baa3-767807d22342","multiuser":false,"context":true,"x":902.5625,"y":104.88888549804688,"wires":[["f14045ad.e41598"]]},{"id":"bff753c3.72b6e","type":"function","z":"7b39f6e6.1300b8","name":"","func":"if (!msg.post_back) {\n    \n    msg = {\n      \"type\":\"template\",\n      \"payload\":{\n        \"message\": {\"text\": msg.payload},\n        \"recipient\": {\"id\": msg.recipientid}\n      }\n    }\n    \n}\nelse {\n    \n    msg = {\n      \"type\":\"template\",\n      \"payload\":{\n        \"recipient\": {\"id\": msg.recipientid},\n        \"message\":{\n        \"attachment\":{\n              \"type\":\"template\",\n              \"payload\":{\n                \"template_type\":\"button\",\n                \"text\": msg.payload,\n                \"buttons\":[\n                  {\n                    \"type\":\"postback\",\n                    \"title\": msg.post_back[0].toUpperCase(),\n                    \"payload\": \"postback_sim\"\n                  },\n                  {\n                    \"type\":\"postback\",\n                    \"title\": msg.post_back[1].toUpperCase(),\n                    \"payload\": \"postback_nao\"\n                  }\n                ]\n              }\n            }\n        }\n      }\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1596,"y":84,"wires":[["ec64bf4.bfe204","355d13a4.3ff2ac"]]},{"id":"bf6134b3.953b18","type":"function","z":"7b39f6e6.1300b8","name":"156","func":"msg.chamado = false;\n\nif (msg.payload.output.text[0] == \"consulta_chamado\") {\n    \n    msg.url = \"https://open156.herokuapp.com/156/item?find={%22SOLICITACAO%22:%22\" + msg.payload.output.text[1] + \"%22}\";\n    msg.chamado = \"156\";\n    \n}\n\nreturn msg;","outputs":"1","noerr":0,"x":887,"y":394,"wires":[["cac2dd9d.a89e3"]]},{"id":"f5cd673c.d65058","type":"http request","z":"7b39f6e6.1300b8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1243,"y":492,"wires":[["b19bfba7.c4e648","8fa92b20.7b5708"]]},{"id":"cac2dd9d.a89e3","type":"switch","z":"7b39f6e6.1300b8","name":"","property":"chamado","propertyType":"msg","rules":[{"t":"false"},{"t":"eq","v":"156","vt":"str"}],"checkall":"false","outputs":2,"x":1088,"y":414,"wires":[["af8246ba.46e4f8"],["f5cd673c.d65058"]]},{"id":"8fa92b20.7b5708","type":"function","z":"7b39f6e6.1300b8","name":"","func":"if(typeof msg.payload.RESPOSTA_FINAL === \"undefined\") {\n msg.payload = {\n    \"output\": {\n    \"text\": [ \n    \"Não foi encontrado nenhum chamado\" \n    ]}\n        \n    };    \n} else {\n\nmsg.payload = {\n    \"output\": {\n    \"text\": [ \n    \"Encontrei o chamado sobre \" + msg.payload.ASSUNTO + \" e a resposta final foi \" + msg.payload.RESPOSTA_FINAL \n    ]}\n        \n    }; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1348,"y":416,"wires":[["af8246ba.46e4f8","b19bfba7.c4e648"]]},{"id":"f14045ad.e41598","type":"function","z":"7b39f6e6.1300b8","name":"156","func":"msg.chamado = false;\n\nif (msg.payload.output.text[0] == \"consulta_chamado\") {\n    \n    msg.url = \"https://open156.herokuapp.com/156/item?find={%22SOLICITACAO%22:%22\" + msg.payload.output.text[1] + \"%22}\";\n    msg.chamado = \"156\";\n    \n}\n\nreturn msg;","outputs":"1","noerr":0,"x":1073,"y":204,"wires":[["e444cd09.6d396"]]},{"id":"e444cd09.6d396","type":"switch","z":"7b39f6e6.1300b8","name":"","property":"chamado","propertyType":"msg","rules":[{"t":"false"},{"t":"eq","v":"156","vt":"str"}],"checkall":"false","outputs":2,"x":1256,"y":178,"wires":[["d3ecbaa4.f51398"],["2bd64c9c.4598c4"]]},{"id":"2bd64c9c.4598c4","type":"http request","z":"7b39f6e6.1300b8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1411,"y":256,"wires":[["96e336ad.f29578"]]},{"id":"96e336ad.f29578","type":"function","z":"7b39f6e6.1300b8","name":"","func":"if(typeof msg.payload.RESPOSTA_FINAL === \"undefined\") {\n msg.payload = {\n    \"output\": {\n    \"text\": [ \n    \"Não foi encontrado nenhum chamado\" \n    ]}\n        \n    };    \n} else {\n\nmsg.payload = {\n    \"output\": {\n    \"text\": [ \n    \"Encontrei o chamado sobre \" + msg.payload.ASSUNTO + \" e a resposta final foi \" + msg.payload.RESPOSTA_FINAL \n    ]}\n        \n    }; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1441,"y":181,"wires":[["d3ecbaa4.f51398"]]},{"id":"78d5c85d.3479f8","type":"function","z":"7b39f6e6.1300b8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1681.7499780952937,"y":235.1796875,"wires":[[]]},{"id":"2d09595c.ac3496","type":"function","z":"7b39f6e6.1300b8","name":"localizacao","func":"try{\nif(msg.payload.entry[0].messaging[0].message.attachments[0].type === \"location\")\n    msg.payload = \"Localizacao\";\n} catch(e){\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":570.7578125,"y":169.1875,"wires":[["9d14efef.c3544","40b06d41.4a54f4"]]},{"id":"97850e51.9c8f1","type":"debug","z":"7b39f6e6.1300b8","name":"","active":false,"console":"false","complete":"false","x":492.7421866059303,"y":240.1015625,"wires":[]},{"id":"40b06d41.4a54f4","type":"debug","z":"7b39f6e6.1300b8","name":"","active":false,"console":"false","complete":"false","x":825.7421866059303,"y":225.1015625,"wires":[]},{"id":"7265d3aa.14892c","type":"debug","z":"7b39f6e6.1300b8","name":"","active":true,"console":"false","complete":"false","x":1747.25,"y":194.09375,"wires":[]}]